body {
    background: pink !important;
}

a {
    text-decoration: none !important;
}

#grapesjs {
    width: 100%;
    height: 100vh;
}

grapes-html-editor.saving {
    &::after {
        background: rgba(8, 147, 210, 0.5);
        transition: 0.3s all;
        pointer-events: all;
    }
}

grapes-html-editor {
    position: relative;

    &::after {
        pointer-events: none;
        transition: 0.3s all;
        content: "";
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(8, 147, 210, 0);
    }
}

grapes-html-editor {
    width: 100%;
    height: 100%;
}
